node_modules
.env
.env.*
!.env.example
!.env.*.example
**/.env
**/.env.*
!**/.env.example
!**/.env.*.example
.DS_Store
.tmp
tmp
dist
npm-debug.log*
yarn.lock
.vscode/launch.json

__schema__/v1.0.0
/ai
.qodo
/coverage
